---
import { Icon } from 'astro-icon';
import { Header, Button, Footer } from '@littlesticks/odyssey-theme-components';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';


export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<Layout seo={seo}>
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo">
			<Logo />
		</span>
		<Button slot="action-item" href="https://buy.stripe.com/test_cN25kr7VBbEBfL29AA" newTab>Donate <span class="icon"><Icon name="ic:round-north-east" width="18px" height="18px"/></span></Button>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
		footerLists={footerLists}
    footerSocials={footerSocials}
		copyrightName={settings.name}
    showLittleSticksPlug={settings.showLittleSticksPlug}
	>
		<Logo slot="logo" />
	</Footer>
</Layout>

<style>
.icon {
	display: inline-block;
    margin: 0.25rem 0 0 0.25rem;
    vertical-align: middle;
    transition: transform 0.2s ease;
}
</style>